<% layout("/layouts/boillerplate") %>
<body>
    <h3>All Listing </h3>
    <!-- <form method="get", action ="/listings/new">
        <button type="submit">Create New Listing</button>
    </form> -->
    
    <div class="row">
        <% for(let listing of listings) { %>
          <div class="col-md-4 mb-4">
            <a href="/listings/<%= listing.id %>" style="text-decoration: none; color: black;">
              <div class="card shadow-lg rounded-lg" style="width: 100%; transition: transform 0.3s ease-in-out;">
                <img src="<%= listing.image.url %>" class="card-img-top rounded-top" alt="listing-Image" style="height: 250px; object-fit: cover;">
                <div class="card-body">
                  <h5 class="card-title text-dark font-weight-bold"><%= listing.title %></h5>
                  <p class="card-text text-muted" style="font-size: 14px;"><%= listing.description %></p>
                  <h6 class="text-dark">₹<%= listing.price.toLocaleString("en-IN") %></h6>
                  <a href="/listings/<%= listing.id %>" class="btn btn-primary w-100" style="border-radius: 20px; font-weight: bold;">View Details</a>
                </div>
              </div>
            </a>
          </div>
        <% } %>
      </div>
      
    
    <!-- <ul>
        <% for(let listing of listings){%>
            <li><a href="/listings/<%= listing.id%>"><%=listing.title%></a></a></li>
        <%}%>
    
    </ul> -->

    
</body>

    
